html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #e0e1dd;
  font-family: "Montserrat", sans-serif;
}



p,
li {
  font-size: 18px;
  line-height: 1.5;
}

.mainButton {
  background-size: 220%;
  box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.15);
  color: #da2c38;
  background-color: transparent;
  background-position: 100%;
  border: 3px solid #da2c38;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 3px;
  transition: all 0.2s ease-out;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: 2px;
  background-image: linear-gradient(
    110deg,
    #da2c38 0%,
    #da2c38 50%,
    transparent 50%,
    transparent 100%
  );
  font-size: 14px;
  margin: 5px;
  text-decoration: none;
}

.mainButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
  background-position: 0;
  color: #e0e1dd;
}

.mainButton:active {
  transform: translateY(-1px);
}

/* Resuable Classes */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.heading {
  font-size: 50px;
  padding-bottom: 32px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 0px;
}

/* End Reusable Classes */

/* Nav */
.hero {
  background-image: url("../images/heroImg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* End Nav */

/* intro */

.intro {
  display: flex;
  background-image: url("../images/heroImg.jpg");
  height: 500px;
  align-items: center;
  text-align: center;
}

.heroH2 {
  font-size: 40px;
  color: #e0e1dd;
  text-shadow: 3px 3px 15px #e0e1dd;
}

/* intro */


/* image carousel */
.imgCarousel {
  background: #e0e1dd;
}
.imgCarousel .img-container {
  max-width: 100%;
  object-fit: contain;
}

.imgCarousel .img-container img {
  max-width: 100%;
  height: 250px;
}

/* End Image carousel */

/* About Me */

.aboutMeContainer {
  background: #2d628b;
}

.aboutMeContainer p {
  padding-left: 16px;
  padding-right: 16px;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.aboutMeContainer img {
  max-width: 100%;
  aspect-ratio: 4/3;
  margin-bottom: 24px;
}

/* For Desktop*/

@media screen and (min-width: 768px) {
  .about-content {
    flex-direction: row;
  }
  .about-text-container {
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .aboutMeContainer img {
    padding-left: 24px;
    margin-top: 0;
  }
}

/* End About Me */

/* Skills */
.skills {
  background-color: #000000;
  color: #e0e1dd;
}

.skills .container {
  justify-content: center;
}

.letter {
  text-align: center;
  padding: 8px;
}

/* End Skills */

/* projects */
.projects {
  background-color: #e0e1dd;
}

.projectTitle {
  font-size: 24px;
  text-align: center;
}

#dcg {
  display: flex;
  flex-direction: column;
}

#folio {
  display: flex;
  flex-direction: column;
}

#folio .btnDiv {
}

.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 24px;
}

.exampleImg {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 8px;
}

.exampleImg img {
  box-shadow: 2px 2px 16px #000;
}

/* End projects */

/* experience */
.experience {
  background-color: #2d628b;
}
/* End experience */

/* footer */
.footer {
  background-color: #000000;
}
/* End footer */
